<!doctype html>
<html>
<head>
	<title> How-To: Olark Chatbox API </title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	{{{body}}}
</body>
</html>